<!-- <footer class="text-center">
   <div class="footer-below">
       <p class="text-center">Copyright ©2016 Rails101
           <br>Design by bianhaiming
       </p>
   </div>
  </footer> -->

  <div class="footer">
        <p class="text-center">Copyright ©2017 化工菁英
            <br>Design by 边海明
        </p>
    </div>
